In [1]:
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

In [2]:
from sklearn.model_selection import train_test_split
import os
import glob
import json

In [3]:
dir_originImage = 'Unity_dataset/RGB'
dir_mask = 'Unity_dataset/SemanticSegmentation'
annot_dir = 'Unity_dataset/Dataset/annotation_definitions.json'

In [4]:
f = open(annot_dir)
data = json.load(f)

In [5]:
new_dict = {}
df = pd.DataFrame(columns=['label','r','g','b'])
df

Empty DataFrame
Columns: [label, r, g, b]
Index: []

In [6]:
for i in data[list(data.keys())[1]][1]['spec']:
    new_dict['label'] = i['label_name']
    new_dict['r'] = [int(i['pixel_value']['r']*255)]
    new_dict['g'] = [int(i['pixel_value']['g']*255)]
    new_dict['b'] = [int(i['pixel_value']['b']*255)]
    df = pd.concat([df,pd.DataFrame(new_dict)])

In [7]:
df = df.reset_index()[df.reset_index().columns[1:]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   35 non-null     object
 1   r       35 non-null     object
 2   g       35 non-null     object
 3   b       35 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [8]:
df

                   label   r   g   b
0              unlabeled   0   0   0
1            ego vehicle   1   1   1
2   rectification border   2   2   2
3             out of roi   3   3   3
4                 static   4   4   4
5                dynamic   5   5   5
6                 ground   6   6   6
7                   road   7   7   7
8               sidewalk   8   8   8
9                parking   9   9   9
10            rail track  10  10  10
11              building  11  11  11
12                  wall  12  12  12
13                 fence  13  13  13
14            guard rail  14  14  14
15                bridge  15  15  15
16                tunnel  16  16  16
17                  pole  17  17  17
18             polegroup  18  18  18
19         traffic light  19  19  19
20          traffic sign  20  20  20
21            vegetation  21  21  21
22               terrain  22  22  22
23                   sky  23  23  23
24                person  24  24  24
25                 rider  25  25  25
26                   car  26  26  26
27                 truck  27  27  27
28                   bus  28  28  28
29               caravan  29  29  29
30               trailer  30  30  30
31                 train  31  31  31
32            motorcycle  32  32  32
33               bicycle  33  33  33
34         license plate  -1  -1  -1

In [9]:
def statistical_label(lst_label):
    arr = []
    for i in lst_label:
        img = cv2.imread(i)
        arr.append(np.unique(img))
    return arr

In [10]:
arr = statistical_label(glob.glob(dir_mask+'/*'))

In [31]:
set1 = {0}
set1

{0}

In [36]:
for i in arr:
    set1 = set1.union(set(i))

In [38]:
set1

{0, 7, 11, 20, 22, 26}

In [39]:
len(arr)

1794